@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/* general */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
  word-break: break-word;
}
html {
  height: 100%;
}
.main__container{
  flex-grow: 1;
}
.page {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}
/* buttons */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  border: none;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  height: fit-content;
}
.button--brown {
  background-color: #756157;
}
.button--blue {
  background-color: #82B3D3;
}
.button--bright {
  background-color: transparent;
}
/* header */
.header__nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 20px 0;
  margin: 0 16px;
  display: block;
  position: relative;
}
.header__nav-link-button {
  width: 160px;
  margin-left: 20px;
}
.header {
  display: flex;
  align-items: center;
  margin: 0 70px;
}
.header__nav {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.header__button-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header__nav-link--active::after {
  border-bottom: 2px solid #756257;
  box-sizing: border-box;
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  left: 0;
}
.header__button-icon {
  padding: 0 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button-icon--favorites {
  position: relative;
}
.header__button-icon--favorites::after {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-favorites);
  background-color: #7DB54F;
  position: absolute;
  bottom: 11px;
  right: 4px;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
}
.header__nav-logo {
  position: relative;
  display: block;
  width: 140px;
  height: 64px;
}
.header__nav-logo-img {
  position: absolute;
  top: 0;
  left: 0;
}
.header__nav-list {
  margin-left: 30px;
  width: 624px;
  display: flex;
  flex-wrap: wrap;
}
.main__logo {
  background-image: url("../images/main-logo.jpg");
  width: 1200px;
  height: 485px;
}
/*advantages index*/
.main__advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  flex-wrap: wrap;
}
.main__advantages-title-block {
  margin-top: 69px;
  margin-bottom: 90px;
}
.main__advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.main__advantages-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 25px;
}
.main__advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.main__advantages-subdescription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.main__advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  height: fit-content;
}
.main__advantages-item--blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}
.main__advantages-item--light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.main__advantages-item--img {
  background-color: #82B3D3;
  background-size: cover;
  box-sizing: border-box;
}
.main__advantages-item--img-city {
  background-image: url("../images/advantages-city.jpg");
  width: 800px;
  min-height: 385px;
}
.main__advantages-item--img-canyon {
  background-image: url("../images/advantages-canyon.jpg");
  width: 800px;
  min-height: 385px;
}
.main__advantages-item-twice {
  grid-column: span 2;
}
.main__decorate-dash--gray {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}
.main__decorate-dash--white {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}
/*recomendation index*/
.main__recommendations-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.main__recommendations-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 20px;
}
.main__recommendations-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}
.main__recommendations-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;;
}
.main__recommendations-subdescription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.main__recommendations-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  box-sizing: border-box;
  height: fit-content;
}
.main__recommendations-item--blue {
  background-color: rgba(131, 179, 211, 0.12);
}
.main__recommendations-housing {
  background-image: url("../images/housing.svg");
  width: 75px;
  height: 72px;
  margin: 0 auto;
}
.main__recommendations-food {
  background-image: url("../images/food.svg");
  width: 74px;
  height: 70px;
  margin: 0 auto;
}
.main__recommendations-souvenirs {
  background-image: url("../images/souvenirs.svg");
  width: 64px;
  height: 76px;
  margin: 0 auto;
}
.main__recommendations--img {
  order: -1;
}
/*hotel index */
.main__hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 96px 0;
  padding: 0 304px;
}
.main__hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.main__hotel-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.main__hotel-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
}
/* newsletter */
.newsletter {
  background-image: url("../images/subscribe.jpg");
  background-color: #82B3D3;
  color: #FFFFFF;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px 258px;
}
.newsletter--lite {
  color: #000000;
  background: 0;
}
.newsletter__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.newsletter__description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.newsletter__input {
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px;
  border: 0;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
}
.newsletter__submit {
  width: 232px;
  height: 52px;
  font-size:20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.newsletter__form {
  display: flex;
}
/* footer */
.footer__html-icon {
  background-image: url("../images/html-academy.svg");
  width: 115px;
  height: 33px;
}
.footer {
  display: flex;
  align-items: flex-start;
  margin: 40px 70px 30px 70px;
  height: 100%;;
}
.footer__social-button {
  text-decoration: none;
  width: 47.33px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 41.5px ;
}
.footer__social-list {
  display: flex;
  justify-content: space-around;
}
.footer__link {
  width: 115px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* catalog hotels */
.catalog {
  background-image: url("../images/catalog-background.jpg");
  width: 1200px;
  min-height: 412px;
  background-color: #82B3D3;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
}
.catalog__header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 28px;
  position: relative;
}
.breadcrumbs__link:not(:last-child)::after {
  background-image: url(../images/breadcrumbs_arrow.svg);
  width: 8px;
  height: 11px;
  position: absolute;
  content: "";
  bottom: 4px;
  right: -18px;
}
.breadcrumbs__list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  width: 1060px;
}
/* catalog filter hotels */
.catalog__filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.catalog__filter-label {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.catalog__control {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.catalog__filter-price-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.catalog__button-select {
  width: 191px;
  min-height: 36px;
  margin-bottom: 32px;
}
.catalog__button-discard {
  width: 191px;
  min-height: 36px;
}
.catalog__filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.catalog__button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__filter-group {
  border: none;
  margin: 0;
  padding: 0;
}
.catalog__filter-price {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.catalog__filter-list {
  margin: 0;
  padding: 0;
}
.catalog__filter-price-item {
  position: relative;
}
.catalog__filter-price-label {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 12px;
  width: 17px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
}
.catalog__filter-price-input{
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  border: 0;
  margin-right: 2px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  padding-left: 20px;
  padding-right: 40px;
}
.catalog__filter-price-input--min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.catalog__filter-price-input--max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.catalog__filter-price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.catalog__filter-item {
  margin-bottom: 16px;
}
/* hotels header */
.hotel__header {
  display: flex;
  width: 1060px;
  margin: 50px 70px 40px 70px;
  align-items: flex-start;
}
.catalog__button-view {
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  box-sizing: border-box;

}
.catalog__button-view:first-child {
  margin-left: 0;
}
.catalog__button-view--active {
  border: 2px solid #000000;
}
.catalog__buttons {
  display: flex;
  align-items: flex-start;
}
.catalog__titte {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1;
}
.catalog__select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0 20px;
  margin-right: 70px;
}
/* hotel list */
.hotel-list__card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}
.hotel-list__card-type {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.hotel-list__card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.hotel-list__card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.hotel-list__card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.hotel-list__card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-list__card-button-more {
  width: 140px;
}
.hotel-list__card-button-favorites {
  width: 140px;
}
.hotel-list__card-button-favorites--active {
  background-color: #7DB54F;
}
.hotel-list__card-rating-text {
  text-align: center;
  color: #333333;
}
.hotel-list__card {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: fit-content;
}
.hotel-list__card:nth-child(3n) {
  margin-right: 0;
}
.hotel-list {
  width: 1060px;
  min-height: 896px;
  display: grid;
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
  margin: 0 70px;
  padding: 0;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 40px;
}
.hotel-list__card-image {
  margin-bottom:16px;
  max-width: 100%;
  height: auto;
}
/* pagination */
.pagination__link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  width: 60px;
  min-height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__link--active {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination__link--gap {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  line-height: 26px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 40px 70px 60px 70px;
  margin-bottom: 60px;
}
.pagination__item {
  margin-right: 8px;
  margin-bottom: 8px;
}
